html{
    background: white;
}
  
div {
    font-family: Arial;
    color: #333;
    text-align: left;
}
  
.section {
    float: left;
    margin-top: 2%;
    height: 60%;
}
  
.left {
    background-color: white;
    width: 10%;
}
  
.right{
    width: 10%;
}
  
.reached {
    background-color: white;
    width: 20%;
}
  
.reached-text{
    padding: 1.5%;
    margin-top: 20%;
    text-indent: 2%;
    font-weight: bold;
    color:rgb(90, 90, 90);
    font-size: 90%;
}
  
.section-progress-bar{
    background-color: white;
    width: 40%;
}
  
.target{
    border-radius: 8px;
    height: 50px;
    width: 61px;
    background-color: #ccc;
    background-image: url(buttom.png);
    background-size: cover;
    box-shadow: 0 0 2px rgba(0,0,0,0.5);
}

.blueBorder{
    box-shadow: 0 0 8px #0489d1;
}
  
.target-text,
.target-text-up {
    color: white;
    text-align: center;
    font-size: 90%;
    margin-top: 4%;
}
  
.target-text-up {
    margin-top: 9%;
    font-size: 20px;
}
  
.blueShadowText{
    text-shadow: 0px 0px #0489d1;
}
  
.info-buttom{
    margin-left: 10%;
}
  
.info-icon{
    width: 6%;
    float:left;
}
  
.info-text{
    padding: 0.9%;
    float: left;
    color:rgb(90, 90, 90);
    font-size: 85%;
    width: 265px;
    text-align: justify;
}
  /* span ниже для того, чтобы растянуть текст на длину div */
span{
    width:100%;
    display:inline-block;
}
  
.progress-top {
    background-color: white;
    height: 20%;
}
  
.main-containter {
    width: 410px;
    height: 150px;
    margin: auto;
    margin-top: 100px;
    border: black;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    background-color: #eee;
}
  
.containter {
    width: 95%;
    height: 65%;
    margin: auto;
    margin-top: 3%;
    border: #d6d3d3;
    border-style: solid;
    border-width: thin;
    border-radius: 8px;
    background-color: white;
}
  
#header {
    clear: left;
    width: 100%;
    height: 20%;
    background-color: #4a4949;
    border-radius: 8px 8px 0 0;
}
  
.text-head{
    padding: 1.5%;
    text-indent: 2%;
    color:white;
    font-size: 90%;
}
  
#myProgress, #progress-arrow {
    width: 96%;
    background-color: #ddd;
    height: 20%;
    border: 3px dotted #ddd;
}
  
#progress-arrow{
    background-color: white;
    border-color: white;
}
  
#myBar {
    width: 0%;
    height: 100%;
    background-color: #0489d1;
    text-align: center;
    line-height: 30px;
    color: white;
}
  
#numBar{
    width: 0%;
    height: 100%;
    background-color: white;
    text-align: right;
    color: #626262;
    font-weight: bold;
    font-size: 90%;
}
  
#arrowBar{
    float: left; 
    width: 0;
    height: 1px;
    background-color: white;
    text-align: right;
    font-weight: bold;
    font-size: 90%;
    border: 0px dotted white;
}
  
.arrow-up{ 
    display: inline-block;
    margin-left: -5px;
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #737373;
    margin-top: 10px;
    position: absolute;
}
